@model Models.User

@{
    ViewBag.Title = "DelteteUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DelteteUser</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Full Name
        </dt>

        <dd>
            @Model.FullName
        </dd>

        <dt>
            Email
        </dt>

        <dd>
            @Model.Email
        </dd>

        <dt>
            Phone
        </dt>

        <dd>
            @Model.Phone
        </dd>

        <dt>
            User Group
        </dt>
        @{
            BusinessLogic.UserBL userBL = new BusinessLogic.UserBL();
            Models.UserGroup userGroup = userBL.GetUserGroup(Model.UserGroupID);
        }
        <dd>
            @userGroup.UserGroupName
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
