@using PagedList;
@using PagedList.Mvc;
@model IPagedList<Models.Project>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            <label for="ProjectName" class="control-label col-md-2"> Project </label>
        </th>
        <th>
            <label for="Description" class="control-label col-md-2"> Description </label>
        </th>
        <th>
            <label for="Manager" class="control-label col-md-2"> Manager </label>
        </th>
        <th>
            <label for="InitTime" class="control-label col-md-2"> Init Time </label>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                @item.Description
            </td>
            @{
                BusinessLogic.UserBL userBL = new BusinessLogic.UserBL();
            }
            <td>
                @{
                    string managerDetailUrl = "Acount/Details?userID=" + item.ManagerID.Trim();
                }
                <a href=@managerDetailUrl> @userBL.GetUserByID(item.ManagerID).UserName</a>
            </td>
            <td>
                @item.InitTime
            </td>
        </tr>
    }

</table>
<div class="col-md-12 text-center">
    @{ 
        string managerid = Model[0].ManagerID;
    }
    @Html.PagedListPager(Model, newPage => Url.Action("Manager", new { managerID = managerid, page = newPage }))
</div>
