@model IEnumerable<Models.Bug>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>In process bug</h2>

<table class="table">
    <tr>
        <th>
            DetectionTime
        </th>
        <th>
            Owner
        </th>
        <th>
            Description
        </th>
        <th>
            Priority
        </th>
        <th>
            Project
        </th>
        <th>
            Status
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DetectionTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Owner)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            @{
                BusinessLogic.BugPriorityBL priorityBL = new BusinessLogic.BugPriorityBL();
                Models.BugPriority priority = priorityBL.GetBugPriorityByID(item.PriorityID);
            }
            <td>
                @priority.PriorityName
            </td>
            @{
                BusinessLogic.ProjectBL projectBL = new BusinessLogic.ProjectBL();
                Models.Project project = projectBL.GetProjectById(item.ProjectID);
            }
            <td>
                @project.Name
            </td>
            @{
                BusinessLogic.BugStatusBL bugStatusBL = new BusinessLogic.BugStatusBL();
                Models.BugStatus bugStatus = bugStatusBL.GetBugStatusByID(item.StatusID);
            }
            <td>
                @bugStatus.StatusName
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.BugID }) |
                @Html.ActionLink("Details", "Details", new { id = item.BugID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.BugID })
            </td>
        </tr>
                }

</table>
