@using PagedList;
@using PagedList.Mvc;
@model IPagedList<Models.User>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 class="text-info">Developers</h2>


<table class="table">
    <tr>
        <th>
            FullName
        </th>
        <th>
            UserName
        </th>
        <th>
            Email
        </th>
        <th>
            Phone
        </th>
        <th>
            UserGroup
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            @{
                BusinessLogic.UserGroupBL userGroupBL = new BusinessLogic.UserGroupBL();
                Models.UserGroup userGroup = userGroupBL.GetUserGroupByUserGroupID(item.UserGroupID);
            }
            <td>
                @userGroup.UserGroupName
            </td>
            @{
                string detailsLink = "/Account/Details?userID=" + item.UserID.Trim();
                string allotLink = "/ProjectManager/Developers/AllotProject?developerID=" + item.UserID.Trim();
            }
            <td>
                <a href=@detailsLink class="btn btn-info btn-sm"> Details</a>
                <a href=@allotLink class="btn btn-success btn-sm"> Add Project</a>

            </td>
        </tr>
 }

</table>
<div class="col-md-12 text-center">

    @Html.PagedListPager(Model, newPage => Url.Action("UserGroup", new { userGroupID = ViewBag.UserGroupID, page = newPage }))
</div>
